.git
.idea
.gitignore
**/.venv
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/node_modules
**/dist
**/*.pyc
**/*.pyo
**/*.tsbuildinfo
**/.coverage
**/htmlcov
logs
backend/.env
backend/.env.test
/.env
/.env.test
frontend/.env
frontend/.env.local
frontend/.env.*.local
