POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
CACHE_ENABLED=true
RATE_LIMIT_ENABLED=true

SECRET_KEY=key
ALGORITHM=HS256

SEED_DIR=seed
DEEPSEEK_API_KEY=key
